<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body>
    <header ng-include="'header.html'"></header>
    <div class="content">
    <div ng-controller="myController">
      <input type="text" ng-model="search">
        <h1>{{message}}</h1>
        <button ng-click="order='name'">Order by name</button>
        <button ng-click="order='rate'">Order by rate</button>
        <ul>
          <li ng-repeat= "a in arr |orderBy:order|filter:search" ng-show="a.available">{{a.name}}-{{a.rate|currency:$}}
              <div class="remove" ng-click="remove_entry(a)"> x</div>
          </li>

        </ul>

    </div>
  </div>
    

    
  </body>
</html>
